<template>
  <el-main>
    <!-- 查询条件 -->
    <el-form
      :model="searchModel"
      label-width="80px"
      :inline="true"
      size="small"
    >
      <el-form-item>
        <el-input
          v-model="searchModel.sensorId"
          clearable
          placeholder="请输入传感器编号"
        />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          @click="search(pageNo, pageSize)"
          >查询</el-button
        >
        <el-button type="success" icon="el-icon-plus" @click="openAddWindow"
          >新增</el-button
        >
      </el-form-item>
    </el-form>
    <!-- 数据表格 -->
    <el-table
      :data="sensorDataList"
      :height="tableHeight"
      border
      stripe
      style="width: 100%; margin-bottom: 10px"
    >
      <el-table-column
        width="110px"
        prop="id"
        label="实时数据编号"
        align="center"
      ></el-table-column>
      <!-- <el-table-column prop="temperature" label="温度"></el-table-column>
      <el-table-column prop="humidity" label="湿度"></el-table-column>
      <el-table-column prop="illumination" label="光敏"></el-table-column> -->
      <!-- <el-table-column prop="photo" label="照片地址"></el-table-column> -->
      <el-table-column prop="photo" label="照片" align="center">
        <template slot-scope="scope">
          <viewer
            ><img
              style="width: 50px; height: 50px"
              :src="scope.row.photo" /></viewer></template
      ></el-table-column>
      <el-table-column prop="video" label="视频地址"></el-table-column>
      <el-table-column prop="sensorId" label="传感器编号"></el-table-column>
      <el-table-column label="操作" align="center" width="290">
        <template slot-scope="scope">
          <el-button
            icon="el-icon-edit"
            type="primary"
            size="small"
            @click="handleEdit(scope.row)"
            >编辑
          </el-button>
          <el-button
            icon="el-icon-delete"
            type="danger"
            size="small"
            @click="handleDelete(scope.row)"
            >删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页工具栏 -->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pageNo"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="10"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    >
    </el-pagination>
    <!-- 添加和修改传感器窗口 -->
    <system-dialog
      :title="sensorDataDialog.title"
      :visible="sensorDataDialog.visible"
      :width="sensorDataDialog.width"
      :height="sensorDataDialog.height"
      @onClose="onClose"
      @onConfirm="onConfirm"
    >
      <div slot="content">
        <el-form
          :model="sensorData"
          ref="sensorDataForm"
          :rules="rules"
          label-width="80px"
          :inline="true"
          size="small"
        >
          <!-- <el-form-item label="温度" prop="temperature">
            <el-input v-model="sensorData.temperature"></el-input>
          </el-form-item>
          <el-form-item label="湿度" prop="humidity">
            <el-input v-model="sensorData.humidity"></el-input>
          </el-form-item>
          <el-form-item label="光敏" prop="illumination">
            <el-input v-model="sensorData.illumination"></el-input>
          </el-form-item> -->
          <!-- <el-form-item label="照片地址" prop="photo">
            <el-input v-model="sensorData.photo"></el-input>
          </el-form-item> -->
          <!-- 照片-->
          <el-form-item label="视频地址" prop="video">
            <el-input v-model="sensorData.video"></el-input>
          </el-form-item>
          <el-form-item label="传感器ID" prop="sensorId">
            <el-input v-model="sensorData.sensorId"></el-input>
          </el-form-item>
          <el-form-item label="照片">
            <el-upload
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload"
              class="avatar-uploader"
              :data="uploadHeader"
              action="http://localhost:8888/api/oss/file/upload?module=avatar"
            >
              <img v-if="sensorData.photo" :src="sensorData.photo" />
              <i v-else class="el-icon-plus avatar-uploader-icon" /> </el-upload
          ></el-form-item>
        </el-form>
      </div>
    </system-dialog>
  </el-main>
</template>

<script>
//导入传感器基本信息api脚本
import sensorDataApi from "@/api/sensorData";
//导入对话框组件
import SystemDialog from "@/components/system/SystemDialog.vue";
//导入token
import { getToken } from "@/utils/auth";
export default {
  //注册组件
  components: { SystemDialog },
  data() {
    return {
      //上传需要携带的数据
      uploadHeader: { token: getToken() },
      //查询条件
      searchModel: {
        sensorId: "",
        pageNo: 1,
        pageSize: 10,
      },
      //设备对象
      sensorData: {
        id: "",
        temperature: "",
        humidity: "",
        illumination: "",
        photo: "",
        video: "",
        sensorId: "",
      },
      //添加和修改角色窗口属性
      sensorDataDialog: {
        title: "",
        visible: false,
        height: 260,
        width: 600,
      },
      rules: {
        sensorId: [
          { required: true, trigger: "blur", message: "请输入传感器编号" },
        ],
      },
      sensorDataList: [],
      tableHeight: 0, //表格高度
      pageNo: 1, //当前页码
      pageSize: 10, //每页显示数量
      total: 0, //总数量
    };
  },
  //初始化时调用
  created() {
    //调用查询角色列表的方法
    this.search();
  },
  //挂载后调用
  mounted() {
    this.$nextTick(() => {
      this.tableHeight = window.innerHeight - 220;
    });
  },
  methods: {
    /**
     * 上传成功回调
     * @param res
     * @param file
     */
    handleAvatarSuccess(res, file) {
      this.sensorData.photo = res.data;
      // 强制重新渲染
      this.$forceUpdate();
    },
    /**
     * 上传校验
     * @param file
     * @returns {boolean}
     */
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },
    /**
     * 当每页数量发生变化时触发该事件
     */
    handleSizeChange(size) {
      this.pageSize = size; //将每页显示的数量交给成员变量
      this.search(this.pageNo, size);
    },
    /**
     * 当页码发生变化时触发该事件
     */
    handleCurrentChange(page) {
      this.pageNo = page;
      //调用查询方法
      this.search(page, this.pageSize);
    },
    /**
     * 设备查询
     */
    async search(pageNo = 1, pageSize = 10) {
      this.searchModel.pageNo = pageNo; //当前页码
      this.searchModel.pageSize = pageSize; //每页显示数量
      //发送查询请求
      let res = await sensorDataApi.getSensorDataListBySensorIdApi(
        this.searchModel
      );
      //执行成功
      if (res.success) {
        //设备列表
        this.sensorDataList = res.data.records;
        //总数量
        this.total = res.data.total;
      }
    },
    /**
     * 打开添加窗口
     */
    openAddWindow() {
      //清空表单数据
      this.$resetForm("sensorDataForm", this.sensorData);
      this.sensorDataDialog.title = "新增传感器基本信息"; //设置窗口标题
      this.sensorDataDialog.visible = true; //显示窗口
    },
    /**
     * 打开编辑窗口
     */
    handleEdit(row) {
      //数据回显
      this.$objCopy(row, this.sensorData); //将当前编辑的数据复制到sensorData对象中
      //设置窗口标题
      this.sensorDataDialog.title = "编辑传感器基本信息";
      //显示编辑角色窗口
      this.sensorDataDialog.visible = true;
    },
    /**
     * 删除设备
     */
    async handleDelete(row) {
      //确认是否删除
      let confirm = await this.$myconfirm("确定要删除该数据吗?");
      if (confirm) {
        //发送删除请求
        let res = await sensorDataApi.deleteById({ id: row.id });
        //判断是否成功
        if (res.success) {
          //成功提示
          this.$message.success(res.message);
          //刷新
          this.search(this.pageNo, this.pageSize);
        } else {
          //失败提示
          this.$message.error(res.message);
        }
      }
    },
    /**
     * 窗口事件
     */
    onClose() {
      this.sensorDataDialog.visible = false;
    },
    /**
     * 窗口确认事件
     */
    onConfirm() {
      //表单验证
      this.$refs.sensorDataForm.validate(async (valid) => {
        if (valid) {
          let res = null;
          //判断传感器ID是否为空
          if (this.sensorData.id === "") {
            //新增
            //发送添加请求
            res = await sensorDataApi.addSensorDataApi(this.sensorData);
          } else {
            console.log("this.sensorData", this.sensorData);
            //发送修改请求
            res = await sensorDataApi.updateSensorDataApi(this.sensorData);
          }
          //判断是否成功
          if (res.success) {
            this.$message.success(res.message);
            //刷新
            this.search(this.pageNo, this.pageSize);
            //关闭窗口
            this.sensorDataDialog.visible = false;
          } else {
            this.$message.error(res.message);
          }
        }
      });
    },
  },
};
</script>

<style lang="scss">
//用户头像
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9 !important;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar-uploader img {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
