<template>
  <div id="particles"></div>
</template>

<script>
import * as particlesJs from "particles.js";
// 静态文件资源
import particlesCfg from "@/static/Json/particles.json";
export default {
  mounted() {
    particlesJS("particles", particlesCfg);
  },
};
</script>

<style>
#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(~@/assets/login/login.jpg) no-repeat 50% 50%;
  background-size: cover;
}
</style>
