<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= webpackConfig.name %></title>
    <script type="text/javascript" src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=0tIUrpuWOan7T13XLkH1lSBlKtWpXrW0"></script>
    <script type="text/javascript" src="https://mapopen.cdn.bcebos.com/github/BMapGLLib/DrawingManager/src/DrawingManager.min.js"></script>
    <link href="https://mapopen.cdn.bcebos.com/github/BMapGLLib/DrawingManager/src/DrawingManager.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
    </div>
    <!-- built files will be auto injected -->
  </body>
  <script>
  </script>

  <style>
    *{
      margin: 0;
      padding: 0;
    }
    .BMap_cpyCtrl {
      display: none;
    }
    .anchorBL {
      display: none;
    }
    ::-webkit-scrollbar{
      width: 5px;
      height: 5px;
      background-color: #F5F5F5;
    }
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      background-color: #F5F5F5;
    }
    ::-webkit-scrollbar-thumb{
      border-radius: 8px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
      background-color: #c8c8c8;
    }
  </style>
</html>
