<template>
  <el-main>
    <!-- 查询条件 -->
    <el-form
      :model="searchModel"
      label-width="80px"
      :inline="true"
      size="small"
    >
      <el-form-item>
        <el-input
          v-model="searchModel.carNumber"
          clearable
          placeholder="请输入车牌号"
        />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          @click="search(pageNo, pageSize)"
          >查询</el-button
        >
        <el-button type="success" icon="el-icon-plus" @click="openAddWindow"
          >新增</el-button
        >
      </el-form-item>
    </el-form>
    <!-- 数据表格 -->
    <el-table
      :data="vehicleLocationInformationList"
      :height="tableHeight"
      border
      stripe
      style="width: 100%; margin-bottom: 10px"
    >
      <el-table-column prop="lng" label="经度"></el-table-column>
      <el-table-column prop="lat" label="纬度"></el-table-column>
      <!-- <el-table-column prop="takePhotos" label="抓拍照片"></el-table-column> -->
      <el-table-column prop="takePhotos" label="抓拍照片" align="center">
        <template slot-scope="scope">
          <viewer
            ><img
              style="width: 50px; height: 50px"
              :src="scope.row.takePhotos" /></viewer></template
      ></el-table-column>
      <el-table-column prop="video" label="视频"></el-table-column>
      <el-table-column prop="takeTime" label="抓拍时间"></el-table-column>
      <el-table-column prop="type" label="类型"></el-table-column>
      <el-table-column prop="carNumber" label="车牌号"></el-table-column>
      <el-table-column label="操作" align="center" width="290">
        <template slot-scope="scope">
          <el-button
            icon="el-icon-edit"
            type="primary"
            size="small"
            @click="handleEdit(scope.row)"
            >编辑
          </el-button>
          <el-button
            icon="el-icon-search"
            type="primary"
            size="small"
            @click="handleSelect(scope.row)"
            >查看
          </el-button>
          <el-button
            icon="el-icon-delete"
            type="danger"
            size="small"
            @click="handleDelete(scope.row)"
            >删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页工具栏 -->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pageNo"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="10"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    >
    </el-pagination>
    <!-- 添加和修改车辆位置窗口 -->
    <system-dialog
      :title="vehicleLocationInformationDialog.title"
      :visible="vehicleLocationInformationDialog.visible"
      :width="vehicleLocationInformationDialog.width"
      :height="vehicleLocationInformationDialog.height"
      @onClose="onClose"
      @onConfirm="onConfirm"
    >
      <div slot="content">
        <el-form
          :model="vehicleLocationInformation"
          ref="vehicleLocationInformationForm"
          :rules="rules"
          label-width="80px"
          :inline="true"
          size="small"
        >
          <el-form-item label="经度" prop="lng">
            <el-input v-model="vehicleLocationInformation.lng"></el-input>
          </el-form-item>
          <el-form-item label="纬度" prop="lat">
            <el-input v-model="vehicleLocationInformation.lat"></el-input>
          </el-form-item>
          <!-- <el-form-item label="抓拍照片" prop="takePhotos">
            <el-input
              v-model="vehicleLocationInformation.takePhotos"
            ></el-input>
          </el-form-item> -->
          <el-form-item label="视频" prop="video">
            <el-input v-model="vehicleLocationInformation.video"></el-input>
          </el-form-item>
          <el-form-item label="抓拍时间" prop="takeTime">
            <el-input v-model="vehicleLocationInformation.takeTime"></el-input>
          </el-form-item>
          <el-form-item label="类型" prop="type">
            <el-input v-model="vehicleLocationInformation.type"></el-input>
          </el-form-item>
          <el-form-item label="车牌号" prop="carNumber">
            <el-input v-model="vehicleLocationInformation.carNumber"></el-input>
          </el-form-item>
          <el-form-item label="照片">
            <el-upload
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload"
              class="avatar-uploader"
              :data="uploadHeader"
              action="http://localhost:8888/api/oss/file/upload?module=avatar"
            >
              <img
                v-if="vehicleLocationInformation.takePhotos"
                :src="vehicleLocationInformation.takePhotos"
              />
              <i v-else class="el-icon-plus avatar-uploader-icon" /> </el-upload
          ></el-form-item>
        </el-form>
      </div>
    </system-dialog>
    <!-- 查看车辆基本信息窗口 -->
    <system-dialog
      :title="vehicleBasicInformationDialog.title"
      :visible="vehicleBasicInformationDialog.visible"
      :width="vehicleBasicInformationDialog.width"
      :height="vehicleBasicInformationDialog.height"
      @onClose="onDutyClose"
      @onConfirm="onDutyConfirm"
    >
      <div slot="content">
        <el-form
          :model="vehicleBasicInformation"
          ref="vehicleBasicInformationForm"
          :rules="rules"
          label-width="80px"
          :inline="true"
          size="small"
        >
          <el-form-item label="车牌号" prop="carNumber">
            <el-input
              :disabled="true"
              v-model="vehicleBasicInformation.carNumber"
            ></el-input>
          </el-form-item>
          <el-form-item label="车照片" prop="carPhoto">
            <el-input
              :disabled="true"
              v-model="vehicleBasicInformation.carPhoto"
            ></el-input>
          </el-form-item>
        </el-form>
      </div>
    </system-dialog>
  </el-main>
</template>

<script>
//导入保安api脚本
import vehicleLocationInformationApi from "@/api/vehicleLocationInformation";
//导入保安值班api脚本
import vehicleBasicInformationApi from "@/api/vehicleBasicInformation";
//导入对话框组件
import SystemDialog from "@/components/system/SystemDialog.vue";
//导入token
import { getToken } from "@/utils/auth";
export default {
  //注册组件
  components: { SystemDialog },
  data() {
    return {
      //上传需要携带的数据
      uploadHeader: { token: getToken() },
      //查询条件
      searchModel: {
        carNumber: "",
        pageNo: 1,
        pageSize: 10,
      },
      //车辆位置对象
      vehicleLocationInformation: {
        id: "",
        lng: "",
        lat: "",
        takePhotos: "",
        video: "",
        takeTime: "",
        type: "",
        carNumber: "",
      },
      //车辆基本信息对象
      vehicleBasicInformation: {
        carNumber: "",
        carPhoto: "",
      },
      //添加和修改重点人员窗口属性
      vehicleLocationInformationDialog: {
        title: "",
        visible: false,
        height: 400,
        width: 600,
      },
      //重点人员位置窗口属性
      vehicleBasicInformationDialog: {
        title: "",
        visible: false,
        height: 200,
        width: 600,
      },
      rules: {
        lng: [{ required: true, trigger: "blur", message: "请输入经度" }],
        lat: [{ required: true, trigger: "blur", message: "请输入纬度" }],
        takePhotos: [
          { required: true, trigger: "blur", message: "请输入抓拍照片" },
        ],
        video: [{ required: true, trigger: "blur", message: "请输入视频" }],
        takeTime: [
          { required: true, trigger: "blur", message: "请输入抓拍时间" },
        ],
        type: [{ required: true, trigger: "blur", message: "请输入类型" }],
        carNumber: [
          { required: true, trigger: "blur", message: "请输入车牌号" },
        ],
      },
      vehicleLocationInformationList: [],
      tableHeight: 0, //表格高度
      pageNo: 1, //当前页码
      pageSize: 10, //每页显示数量
      total: 0, //总数量
    };
  },
  //初始化时调用
  created() {
    //调用查询角色列表的方法
    this.search();
  },
  //挂载后调用
  mounted() {
    this.$nextTick(() => {
      this.tableHeight = window.innerHeight - 220;
    });
  },
  methods: {
    /**
     * 上传成功回调
     * @param res
     * @param file
     */
    handleAvatarSuccess(res, file) {
      this.vehicleLocationInformation.takePhotos = res.data;
      // 强制重新渲染
      this.$forceUpdate();
    },
    /**
     * 上传校验
     * @param file
     * @returns {boolean}
     */
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },
    /**
     * 当每页数量发生变化时触发该事件
     */
    handleSizeChange(size) {
      this.pageSize = size; //将每页显示的数量交给成员变量
      this.search(this.pageNo, size);
    },
    /**
     * 当页码发生变化时触发该事件
     */
    handleCurrentChange(page) {
      this.pageNo = page;
      //调用查询方法
      this.search(page, this.pageSize);
    },
    /**
     * 设备查询
     */
    async search(pageNo = 1, pageSize = 10) {
      this.searchModel.pageNo = pageNo; //当前页码
      this.searchModel.pageSize = pageSize; //每页显示数量
      //发送查询请求
      let res =
        await vehicleLocationInformationApi.getVehicleLocationInformationListByCarNumberApi(
          this.searchModel
        );
      //执行成功
      if (res.success) {
        //设备列表
        this.vehicleLocationInformationList = res.data.records;
        //总数量
        this.total = res.data.total;
      }
    },
    /**
     * 打开添加窗口
     */
    openAddWindow() {
      //清空表单数据
      this.$resetForm(
        "vehicleLocationInformationForm",
        this.vehicleLocationInformation
      );
      this.vehicleLocationInformationDialog.title = "新增车辆位置"; //设置窗口标题
      this.vehicleLocationInformationDialog.visible = true; //显示窗口
    },
    /**
     * 查看窗口
     */
    async handleSelect(row) {
      let res =
        await vehicleBasicInformationApi.getVehicleBasicInformationByCarNumberApi(
          {
            carNumber: row.carNumber,
          }
        );
      this.vehicleBasicInformation = res.data;
      //设置窗口标题
      this.vehicleBasicInformationDialog.title = "查看车辆信息";
      //显示编辑角色窗口
      this.vehicleBasicInformationDialog.visible = true;
    },
    /**
     * 打开编辑窗口
     */
    handleEdit(row) {
      //数据回显
      this.$objCopy(row, this.vehicleLocationInformation); //将当前编辑的数据复制到vehicleLocationInformation对象中
      //设置窗口标题
      this.vehicleLocationInformationDialog.title = "编辑车辆位置信息";
      //显示编辑角色窗口
      this.vehicleLocationInformationDialog.visible = true;
    },
    /**
     * 删除设备
     */
    async handleDelete(row) {
      //确认是否删除
      let confirm = await this.$myconfirm("确定要删除该数据吗?");
      if (confirm) {
        //发送删除请求
        let res = await vehicleLocationInformationApi.deleteById({
          id: row.id,
        });
        //判断是否成功
        if (res.success) {
          //成功提示
          this.$message.success(res.message);
          //刷新
          this.search(this.pageNo, this.pageSize);
        } else {
          //失败提示
          this.$message.error(res.message);
        }
      }
    },
    /**
     * 窗口事件
     */
    onDutyClose() {
      this.vehicleBasicInformationDialog.visible = false;
    },
    /**
     * 窗口确认事件
     */
    onDutyConfirm() {
      this.vehicleBasicInformationDialog.visible = false;
    },
    /**
     * 窗口事件
     */
    onClose() {
      this.vehicleLocationInformationDialog.visible = false;
    },
    /**
     * 窗口确认事件
     */
    onConfirm() {
      //表单验证
      this.$refs.vehicleLocationInformationForm.validate(async (valid) => {
        if (valid) {
          let res = null;
          //判断传感器ID是否为空
          if (this.vehicleLocationInformation.id === "") {
            //新增
            //发送添加请求
            this.vehicleLocationInformation.userId = this.$store.getters.userId;
            res =
              await vehicleLocationInformationApi.addVehicleLocationInformationApi(
                this.vehicleLocationInformation
              );
          } else {
            let time = new Date();
            //格式话时间类型
            let nowTime = this.$timestampToTime(
              time.toLocaleString("en-US", { hour12: false }).split(" ")
            );
            this.vehicleLocationInformation.payDate = nowTime;
            //发送修改请求
            res =
              await vehicleLocationInformationApi.updateVehicleLocationInformationApi(
                this.vehicleLocationInformation
              );
          }
          //判断是否成功
          if (res.success) {
            this.$message.success(res.message);
            //刷新
            this.search(this.pageNo, this.pageSize);
            //关闭窗口
            this.vehicleLocationInformationDialog.visible = false;
          } else {
            this.$message.error(res.message);
          }
        }
      });
    },
  },
};
</script>

<style lang="scss">
//用户头像
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9 !important;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar-uploader img {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
