@font-face {
  font-family: "iconfont"; /* Project id 3832713 */
  src: url('iconfont.woff2?t=1671454533585') format('woff2'),
       url('iconfont.woff?t=1671454533585') format('woff'),
       url('iconfont.ttf?t=1671454533585') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti--:before {
  content: "\e617";
}

.icon-tianqitubiao_zhongyu:before {
  content: "\e612";
}

.icon-tianqitubiao_duoyun:before {
  content: "\e615";
}

.icon-tianqitubiao_daxue:before {
  content: "\e616";
}

.icon-tianqitubiao_leizhenyu:before {
  content: "\e618";
}

.icon-tianqitubiao_dayu:before {
  content: "\e619";
}

.icon-tianqitubiao_dafeng:before {
  content: "\e61a";
}

.icon-tianqitubiao_zhongxue:before {
  content: "\e61b";
}

.icon-tianqitubiao_yujiaxue:before {
  content: "\e61c";
}

.icon-tianqitubiao_xiaoyu:before {
  content: "\e61d";
}

.icon-tianqitubiao_xiaoxue:before {
  content: "\e61e";
}

.icon-tianqitubiao_wu:before {
  content: "\e61f";
}

.icon-tianqitubiao_yin:before {
  content: "\e614";
}

.icon-tianqitubiao_qing:before {
  content: "\e613";
}

