<template>
  <el-main>
    <!-- 查询条件 -->
    <el-form
      :model="searchModel"
      label-width="80px"
      :inline="true"
      size="small"
    >
      <el-form-item>
        <el-input
          v-model="searchModel.turnover"
          clearable
          placeholder="请输入营业额"
        />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          @click="search(pageNo, pageSize)"
          >查询</el-button
        >
        <el-button type="success" icon="el-icon-plus" @click="openAddWindow"
          >新增</el-button
        >
      </el-form-item>
    </el-form>
    <!-- 数据表格 -->
    <el-table
      :data="businessTurnoverList"
      :height="tableHeight"
      border
      stripe
      style="width: 100%; margin-bottom: 10px"
    >
      <el-table-column
        width="110px"
        prop="id"
        label="商家营业编号"
        align="center"
      ></el-table-column>
      <el-table-column prop="turnover" label="营业额"></el-table-column>
      <el-table-column prop="date" label="时间"></el-table-column>
      <el-table-column prop="businessId" label="所属商家"></el-table-column>
      <el-table-column label="操作" align="center" width="290">
        <template slot-scope="scope">
          <el-button
            icon="el-icon-edit"
            type="primary"
            size="small"
            @click="handleEdit(scope.row)"
            >编辑
          </el-button>
          <el-button
            icon="el-icon-delete"
            type="danger"
            size="small"
            @click="handleDelete(scope.row)"
            >删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页工具栏 -->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pageNo"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="10"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    >
    </el-pagination>
    <!-- 添加和修改传感器窗口 -->
    <system-dialog
      :title="businessTurnoverDialog.title"
      :visible="businessTurnoverDialog.visible"
      :width="businessTurnoverDialog.width"
      :height="businessTurnoverDialog.height"
      @onClose="onClose"
      @onConfirm="onConfirm"
    >
      <div slot="content">
        <el-form
          :model="businessTurnover"
          ref="businessTurnoverForm"
          :rules="rules"
          label-width="80px"
          :inline="true"
          size="small"
        >
          <el-form-item label="营业额" prop="turnover">
            <el-input v-model="businessTurnover.turnover"></el-input>
          </el-form-item>
          <el-date-picker
            v-model="businessTurnover.date"
            type="date"
            placeholder="选择日期"
          >
          </el-date-picker>
          <el-form-item label="所属商家" prop="businessId">
            <el-input v-model="businessTurnover.businessId"></el-input>
          </el-form-item>
        </el-form>
      </div>
    </system-dialog>
  </el-main>
</template>

<script>
//导入传感器基本信息api脚本
import businessTurnoverApi from "@/api/businessTurnover";
//导入对话框组件
import SystemDialog from "@/components/system/SystemDialog.vue";
export default {
  //注册组件
  components: { SystemDialog },
  data() {
    return {
      //查询条件
      searchModel: {
        turnover: "",
        pageNo: 1,
        pageSize: 10,
      },
      //设备对象
      businessTurnover: {
        id: "",
        turnover: "",
        date: "",
        businessId: "",
      },
      //添加和修改角色窗口属性
      businessTurnoverDialog: {
        title: "",
        visible: false,
        height: 200,
        width: 600,
      },
      rules: {
        turnover: [
          { required: true, trigger: "blur", message: "请输入营业额" },
        ],
        businessId: [
          { required: true, trigger: "blur", message: "请输入商家编号" },
        ],
      },
      businessTurnoverList: [],
      tableHeight: 0, //表格高度
      pageNo: 1, //当前页码
      pageSize: 10, //每页显示数量
      total: 0, //总数量
    };
  },
  //初始化时调用
  created() {
    //调用查询角色列表的方法
    this.search();
  },
  //挂载后调用
  mounted() {
    this.$nextTick(() => {
      this.tableHeight = window.innerHeight - 220;
    });
  },
  methods: {
    /**
     * 当每页数量发生变化时触发该事件
     */
    handleSizeChange(size) {
      this.pageSize = size; //将每页显示的数量交给成员变量
      this.search(this.pageNo, size);
    },
    /**
     * 当页码发生变化时触发该事件
     */
    handleCurrentChange(page) {
      this.pageNo = page;
      //调用查询方法
      this.search(page, this.pageSize);
    },
    /**
     * 设备查询
     */
    async search(pageNo = 1, pageSize = 10) {
      this.searchModel.pageNo = pageNo; //当前页码
      this.searchModel.pageSize = pageSize; //每页显示数量
      //发送查询请求
      let res = await businessTurnoverApi.getBusinessTurnoverListByTurnoverApi(
        this.searchModel
      );
      //执行成功
      if (res.success) {
        //设备列表
        this.businessTurnoverList = res.data.records;
        //总数量
        this.total = res.data.total;
      }
    },
    /**
     * 打开添加窗口
     */
    openAddWindow() {
      //清空表单数据
      this.$resetForm("businessTurnoverForm", this.businessTurnover);
      this.businessTurnoverDialog.title = "新增商家"; //设置窗口标题
      this.businessTurnoverDialog.visible = true; //显示窗口
    },
    /**
     * 打开编辑窗口
     */
    handleEdit(row) {
      //数据回显
      this.$objCopy(row, this.businessTurnover); //将当前编辑的数据复制到businessTurnover对象中
      //设置窗口标题
      this.businessTurnoverDialog.title = "编辑商家";
      //显示编辑角色窗口
      this.businessTurnoverDialog.visible = true;
    },
    /**
     * 删除设备
     */
    async handleDelete(row) {
      //确认是否删除
      let confirm = await this.$myconfirm("确定要删除该数据吗?");
      if (confirm) {
        //发送删除请求
        let res = await businessTurnoverApi.deleteById({ id: row.id });
        //判断是否成功
        if (res.success) {
          //成功提示
          this.$message.success(res.message);
          //刷新
          this.search(this.pageNo, this.pageSize);
        } else {
          //失败提示
          this.$message.error(res.message);
        }
      }
    },
    /**
     * 窗口事件
     */
    onClose() {
      this.businessTurnoverDialog.visible = false;
    },
    /**
     * 窗口确认事件
     */
    onConfirm() {
      //表单验证
      this.$refs.businessTurnoverForm.validate(async (valid) => {
        if (valid) {
          let res = null;
          //判断传感器ID是否为空
          if (this.businessTurnover.id === "") {
            //格式话时间类型
            let nowTime = this.$timestampToTime(
              this.businessTurnover.date
                .toLocaleString("en-US", { hour12: false })
                .split(" ")
            );
            this.businessTurnover.date = nowTime;
            //新增
            //发送添加请求
            this.businessTurnover.userId = this.$store.getters.userId;
            res = await businessTurnoverApi.addBusinessTurnoverApi(
              this.businessTurnover
            );
          } else {
            //格式话时间类型
            let nowTime = this.$timestampToTime(
              this.businessTurnover.date
                .toLocaleString("en-US", { hour12: false })
                .split(" ")
            );
            this.businessTurnover.date = nowTime;
            //发送修改请求
            res = await businessTurnoverApi.updateBusinessTurnoverApi(
              this.businessTurnover
            );
          }
          //判断是否成功
          if (res.success) {
            this.$message.success(res.message);
            //刷新
            this.search(this.pageNo, this.pageSize);
            //关闭窗口
            this.businessTurnoverDialog.visible = false;
          } else {
            this.$message.error(res.message);
          }
        }
      });
    },
  },
};
</script>

<style></style>
