<template>
  <el-main>
    <!-- 查询条件 -->
    <el-form
      :model="searchModel"
      label-width="80px"
      :inline="true"
      size="small"
    >
      <el-form-item>
        <el-input
          v-model="searchModel.name"
          clearable
          placeholder="请输入姓名"
        />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          icon="el-icon-search"
          @click="search(pageNo, pageSize)"
          >查询</el-button
        >
        <el-button type="success" icon="el-icon-plus" @click="openAddWindow"
          >新增</el-button
        >
      </el-form-item>
    </el-form>
    <!-- 数据表格 -->
    <el-table
      :data="securityStaffList"
      :height="tableHeight"
      border
      stripe
      style="width: 100%; margin-bottom: 10px"
    >
      <el-table-column
        width="110px"
        prop="idNumber"
        label="保安编号"
        align="center"
      ></el-table-column>
      <el-table-column prop="name" label="姓名"></el-table-column>
      <el-table-column prop="sex" label="性别"></el-table-column>
      <el-table-column prop="age" label="年龄"></el-table-column>
      <el-table-column prop="phone" label="手机号"></el-table-column>
      <el-table-column prop="email" label="电子邮箱"></el-table-column>
      <el-table-column prop="hireDate" label="入职时间"></el-table-column>
      <el-table-column prop="leaveDate" label="离职时间"></el-table-column>
      <!-- <el-table-column prop="photo" label="照片"></el-table-column> -->
      <el-table-column prop="photo" label="照片" align="center">
        <template slot-scope="scope">
          <viewer
            ><img
              style="width: 50px; height: 50px"
              :src="scope.row.photo" /></viewer></template
      ></el-table-column>
      <el-table-column prop="groupId" label="组别"></el-table-column>
      <el-table-column prop="dutyId" label="值班编号"></el-table-column>
      <el-table-column label="操作" align="center" width="290">
        <template slot-scope="scope">
          <el-button
            icon="el-icon-edit"
            type="primary"
            size="small"
            @click="handleEdit(scope.row)"
            >编辑
          </el-button>
          <el-button
            icon="el-icon-search"
            type="primary"
            size="small"
            @click="handleSelect(scope.row)"
            >查看
          </el-button>
          <el-button
            icon="el-icon-delete"
            type="danger"
            size="small"
            @click="handleDelete(scope.row)"
            >删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页工具栏 -->
    <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pageNo"
      :page-sizes="[10, 20, 30, 40, 50]"
      :page-size="10"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
    >
    </el-pagination>
    <!-- 添加和修改传感器窗口 -->
    <system-dialog
      :title="securityStaffDialog.title"
      :visible="securityStaffDialog.visible"
      :width="securityStaffDialog.width"
      :height="securityStaffDialog.height"
      @onClose="onClose"
      @onConfirm="onConfirm"
    >
      <div slot="content">
        <el-form
          :model="securityStaff"
          ref="securityStaffForm"
          :rules="rules"
          label-width="80px"
          :inline="true"
          size="small"
        >
          <el-form-item label="保安编号" prop="idNumber">
            <el-input v-model="securityStaff.idNumber"></el-input>
          </el-form-item>
          <el-form-item label="姓名" prop="name">
            <el-input v-model="securityStaff.name"></el-input>
          </el-form-item>
          <el-form-item label="性别" prop="sex">
            <el-input v-model="securityStaff.sex"></el-input>
          </el-form-item>
          <el-form-item label="年龄" prop="age">
            <el-input v-model="securityStaff.age"></el-input>
          </el-form-item>
          <el-form-item label="手机" prop="phone">
            <el-input v-model="securityStaff.phone"></el-input>
          </el-form-item>
          <el-form-item label="电子邮箱" prop="email">
            <el-input v-model="securityStaff.email"></el-input>
          </el-form-item>
          <el-form-item label="入职" prop="hireDate">
            <el-date-picker
              v-model="securityStaff.hireDate"
              type="date"
              placeholder="选择入职时间"
              style="width: 180px"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="离职" prop="leaveDate">
            <el-date-picker
              v-model="securityStaff.leaveDate"
              type="date"
              placeholder="选择离职时间"
              style="width: 180px"
            >
            </el-date-picker>
          </el-form-item>
          <!-- <el-form-item label="照片" prop="photo">
            <el-input v-model="securityStaff.photo"></el-input>
          </el-form-item> -->
          <el-form-item label="组别" prop="groupId">
            <el-input v-model="securityStaff.groupId"></el-input>
          </el-form-item>
          <el-form-item label="值班编号" prop="dutyId">
            <el-input v-model="securityStaff.dutyId"></el-input>
          </el-form-item>
          <el-form-item label="照片">
            <el-upload
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload"
              class="avatar-uploader"
              :data="uploadHeader"
              action="http://localhost:8888/api/oss/file/upload?module=avatar"
            >
              <img v-if="securityStaff.photo" :src="securityStaff.photo" />
              <i v-else class="el-icon-plus avatar-uploader-icon" /> </el-upload
          ></el-form-item>
        </el-form>
      </div>
    </system-dialog>
    <!-- 查看保安值班表窗口 -->
    <system-dialog
      :title="securityOnDutyDialog.title"
      :visible="securityOnDutyDialog.visible"
      :width="securityOnDutyDialog.width"
      :height="securityOnDutyDialog.height"
      @onClose="onDutyClose"
      @onConfirm="onDutyConfirm"
    >
      <div slot="content">
        <el-form
          :model="securityOnDuty"
          ref="securityOnDutyForm"
          :rules="rules"
          label-width="80px"
          :inline="true"
          size="small"
        >
          <el-form-item label="值班编号" prop="id">
            <el-input :disabled="true" v-model="securityOnDuty.id"></el-input>
          </el-form-item>
          <el-form-item label="星期" prop="week">
            <el-input :disabled="true" v-model="securityOnDuty.week"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-input
              :disabled="true"
              v-model="securityOnDuty.startTime"
            ></el-input>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-input
              :disabled="true"
              v-model="securityOnDuty.endTime"
            ></el-input>
          </el-form-item>
        </el-form>
      </div>
    </system-dialog>
  </el-main>
</template>

<script>
//导入保安api脚本
import securityStaffApi from "@/api/securityStaff";
//导入保安值班api脚本
import securityOnDutyApi from "@/api/securityOnDuty";
//导入对话框组件
import SystemDialog from "@/components/system/SystemDialog.vue";
//导入token
import { getToken } from "@/utils/auth";
export default {
  //注册组件
  components: { SystemDialog },
  data() {
    return {
      //上传需要携带的数据
      uploadHeader: { token: getToken() },
      //查询条件
      searchModel: {
        name: "",
        pageNo: 1,
        pageSize: 10,
      },
      //设备对象
      securityStaff: {
        id: "",
        idNumber: "",
        name: "",
        sex: "",
        age: "",
        phone: "",
        email: "",
        hireDate: "",
        leaveDate: "",
        photo: "",
        groupId: "",
        dutyId: "",
      },
      //保安值班对象
      securityOnDuty: {
        id: "",
        week: "",
        startTime: "",
        endTime: "",
      },
      //添加和修改角色窗口属性
      securityStaffDialog: {
        title: "",
        visible: false,
        height: 500,
        width: 600,
      },
      //保安值班窗口属性
      securityOnDutyDialog: {
        title: "",
        visible: false,
        height: 200,
        width: 600,
      },
      rules: {
        idNumber: [
          { required: true, trigger: "blur", message: "请输入保安编号" },
        ],
        name: [{ required: true, trigger: "blur", message: "请输入姓名" }],
        sex: [{ required: true, trigger: "blur", message: "请输入性别" }],
        age: [{ required: true, trigger: "blur", message: "请输入年龄" }],
        phone: [{ required: true, trigger: "blur", message: "请输入手机号" }],
        email: [{ required: true, trigger: "blur", message: "请输入电子邮箱" }],
        hireDate: [
          { required: true, trigger: "blur", message: "请输入入职时间" },
        ],
        phone: [{ required: true, trigger: "blur", message: "请输入手机号" }],
        groupId: [{ required: true, trigger: "blur", message: "请输入组别" }],
        dutyId: [
          { required: true, trigger: "blur", message: "请输入值班编号" },
        ],
      },
      securityStaffList: [],
      tableHeight: 0, //表格高度
      pageNo: 1, //当前页码
      pageSize: 10, //每页显示数量
      total: 0, //总数量
    };
  },
  //初始化时调用
  created() {
    //调用查询角色列表的方法
    this.search();
  },
  //挂载后调用
  mounted() {
    this.$nextTick(() => {
      this.tableHeight = window.innerHeight - 220;
    });
  },
  methods: {
    /**
     * 上传成功回调
     * @param res
     * @param file
     */
    handleAvatarSuccess(res, file) {
      this.securityStaff.photo = res.data;
      // 强制重新渲染
      this.$forceUpdate();
    },
    /**
     * 上传校验
     * @param file
     * @returns {boolean}
     */
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },
    /**
     * 当每页数量发生变化时触发该事件
     */
    handleSizeChange(size) {
      this.pageSize = size; //将每页显示的数量交给成员变量
      this.search(this.pageNo, size);
    },
    /**
     * 当页码发生变化时触发该事件
     */
    handleCurrentChange(page) {
      this.pageNo = page;
      //调用查询方法
      this.search(page, this.pageSize);
    },
    /**
     * 设备查询
     */
    async search(pageNo = 1, pageSize = 10) {
      this.searchModel.pageNo = pageNo; //当前页码
      this.searchModel.pageSize = pageSize; //每页显示数量
      //发送查询请求
      let res = await securityStaffApi.getSecurityStaffListByNameApi(
        this.searchModel
      );
      //执行成功
      if (res.success) {
        //设备列表
        this.securityStaffList = res.data.records;
        //总数量
        this.total = res.data.total;
      }
    },
    /**
     * 打开添加窗口
     */
    openAddWindow() {
      //清空表单数据
      this.$resetForm("securityStaffForm", this.securityStaff);
      this.securityStaffDialog.title = "新增商家"; //设置窗口标题
      this.securityStaffDialog.visible = true; //显示窗口
    },
    /**
     * 查看窗口
     */
    async handleSelect(row) {
      let res = await securityOnDutyApi.getSecurityOnDutyByIdApi({
        dutyId: row.dutyId,
      });
      this.securityOnDuty = res.data;
      //设置窗口标题
      this.securityOnDutyDialog.title = "值班表";
      //显示编辑角色窗口
      this.securityOnDutyDialog.visible = true;
    },
    /**
     * 打开编辑窗口
     */
    handleEdit(row) {
      //数据回显
      this.$objCopy(row, this.securityStaff); //将当前编辑的数据复制到securityStaff对象中
      //设置窗口标题
      this.securityStaffDialog.title = "编辑保安基本信息";
      //显示编辑角色窗口
      this.securityStaffDialog.visible = true;
    },
    /**
     * 删除设备
     */
    async handleDelete(row) {
      //确认是否删除
      let confirm = await this.$myconfirm("确定要删除该数据吗?");
      if (confirm) {
        //发送删除请求
        let res = await securityStaffApi.deleteById({ id: row.id });
        //判断是否成功
        if (res.success) {
          //成功提示
          this.$message.success(res.message);
          //刷新
          this.search(this.pageNo, this.pageSize);
        } else {
          //失败提示
          this.$message.error(res.message);
        }
      }
    },
    /**
     * 窗口事件
     */
    onDutyClose() {
      this.securityOnDutyDialog.visible = false;
    },
    /**
     * 窗口确认事件
     */
    onDutyConfirm() {
      this.securityOnDutyDialog.visible = false;
    },
    /**
     * 窗口事件
     */
    onClose() {
      this.securityStaffDialog.visible = false;
    },
    /**
     * 窗口确认事件
     */
    onConfirm() {
      //表单验证
      this.$refs.securityStaffForm.validate(async (valid) => {
        if (valid) {
          let res = null;
          //判断传感器ID是否为空
          if (this.securityStaff.id === "") {
            // let time = new Date();
            // //格式话时间类型
            // let nowTime = this.$timestampToTime(
            //   time.toLocaleString("en-US", { hour12: false }).split(" ")
            // );
            // this.securityStaff.payDate = nowTime;
            //新增
            //发送添加请求
            this.securityStaff.userId = this.$store.getters.userId;
            res = await securityStaffApi.addSecurityStaffApi(
              this.securityStaff
            );
          } else {
            let time = new Date();
            //格式话时间类型
            let nowTime = this.$timestampToTime(
              time.toLocaleString("en-US", { hour12: false }).split(" ")
            );
            this.securityStaff.payDate = nowTime;
            //发送修改请求
            res = await securityStaffApi.updateSecurityStaffApi(
              this.securityStaff
            );
          }
          //判断是否成功
          if (res.success) {
            this.$message.success(res.message);
            //刷新
            this.search(this.pageNo, this.pageSize);
            //关闭窗口
            this.securityStaffDialog.visible = false;
          } else {
            this.$message.error(res.message);
          }
        }
      });
    },
  },
};
</script>

<style lang="scss">
//用户头像
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9 !important;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar-uploader img {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
