<template>
  <div>
    <businessList v-if="current === '0' ? true : false" @fn="fn" />
    <keyPersonnelList v-if="current === '1' ? true : false" @fn="fn" />
    <vehicleList v-if="current === '2' ? true : false" @fn="fn" />
  </div>
</template>

<script>
import businessList from "./business/businessList";
import keyPersonnelList from "./keyPersonnel/keyPersonnelList";
import vehicleList from "./vehicle/vehicleList";
export default {
  components: {
    businessList,
    keyPersonnelList,
    vehicleList,
  },
  data() {
    return {
      current: "0",
    };
  },
  methods: {
    fn(e) {
      this.current = e;
    },
  },
};
</script>

<style></style>
